.navbar{
    top:0;
    height:15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 8%;
    font-family: Orbitron, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: 900;
    font-size: 3em;
}